#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.tile {
  height: 20vh;
  width: 10vw;

  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;

  border-radius: 10px;

  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: aliceblue;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.bgLBiege {
  background-color: rgb(247, 245, 236);
}

.unselected {
  cursor: pointer;
}

.unselected:hover {
  background-color: rgb(250, 238, 205);
}

.innerTile {
  height: 12vh;
  width: 6vw;

  border-radius: 50px;
}

.blueTaken {
  background-color: rgb(137, 200, 241);
}

.redTaken {
  background-color: rgb(245, 159, 159);

}